<% include partials/header %>

<div id="heading" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Auto Water Dashboard</h1>
    <span class="ripples"></span>
    <p class="lead">Remotely monitor and water your house plants!</p>
  </div>
</div>

<div id="main" class="container">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="https://apps.shopifycdn.com/listing_images/8c2113193afda0376534f7e30d691899/icon/25d428fe4ff39b1cef8551342b31af3b.jpg">
                <div class="card-body">
                    <p class="card-text">Current Moisture Reading.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="https://apps.shopifycdn.com/listing_images/8c2113193afda0376534f7e30d691899/icon/25d428fe4ff39b1cef8551342b31af3b.jpg">
                <div class="card-body">
                    <p class="card-text">Time since last water.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="https://apps.shopifycdn.com/listing_images/8c2113193afda0376534f7e30d691899/icon/25d428fe4ff39b1cef8551342b31af3b.jpg">
                <div class="card-body">
                    <p class="card-text">Time until next water.</p>
                </div>
            </div>
        </div>
        <button id="water" type="button" class="ripple hvr-pulse btn btn-primary btn-lg btn-block">Water Now!</button>
    </div>
</div>
        

<% include partials/footer %>